<div class="home" 
fxLayout="column" 
fxLayout.gt-md="row" 
fxLayoutAlign="center center"
fxLayoutGap.gt-md="2rem"
>
    <section>
        <h3>Activity</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>
    <section>
        <h3>Community</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>
    <section>
        <h3>Challenge</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>
</div>
